<!doctype html>
<html ng-app="FenrirApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fenrir</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="js/controllers/controller.js"></script>
	<script src="js/services/service.js"></script>
	<script src="js/main.js"></script>
</head>
<body ng-controller="RutaCtrl">
	<form ng-submit="submit()" role="form">       
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#home">Rutas<span class="badge">{{rutas.length}}</span></a></li>
		  	<li><a ng-click="cleanRuta()" data-toggle="tab" href="#menu1">Añadir</a></li>
		  	<li><a data-toggle="tab" href="#menu2">Perfil</a></li>
		  	<li><a href="#" ng-click="logout()">Logout</a></li>
		</ul>

		<div class="tab-content">
		  	<div id="home" class="tab-pane fade in active">
				<div class="panel panel-default" style="display:{{flgRuta}}">
					<div class="panel-heading">Rutas</div>
					<ul ng-repeat="ruta in rutas" ng-click="seleccionaRuta(ruta)" class="list-group">
						<li class="list-group-item">{{ruta.nombre}}</li>
					</ul>
				</div>

				<div class="panel panel-default" style="display:{{flgDespacho}}">
					<div class="panel-heading">Detalle Ruta</div>
					<button ng-click="volver()" class="btn btn-primary" type="submit">volver</button>   
					<ul class="nav nav-tabs">
					  <li class="active"><a data-toggle="tab" href="#ruta">Ruta</a></li>
					  <li><a data-toggle="tab" href="#aDespacho">Añadir Despacho</a></li>
					  <li><a data-toggle="tab" href="#vDespacho">Ver Despachos<span class="badge">{{despachos.length}}</span></a></li>
					</ul>
					<div class="tab-content">
						<div id="ruta" class="tab-pane fade in active">
							<div class="row">
					  			<div class="col-xs-4">
					    			<input ng-model="ruta.nombre" type="text" class="form-control" placeholder="Nombre">
					  			</div>
					  			<div class="col-xs-4">
					    			<input ng-model="ruta.descripcion" type="text" class="form-control" placeholder="Descripción">
					  			</div>
					  			<div class="col-xs-4">
					    			<input ng-model="ruta.direccion.ciudad" type="text" class="form-control" placeholder="Ciudad">
					  			</div>
							</div>
							<div class="row">
					  			<div class="col-xs-4">
					    			<input ng-model="ruta.direccion.region" type="text" class="form-control" placeholder="Región">
					  			</div>
					  			<div class="col-xs-4">
					    			<input ng-model="ruta.direccion.detalle" type="text" class="form-control" placeholder="Detalle">
					  			</div>
					  			<div class="col-xs-4">
					    			<input ng-model="ruta.carga.tipo" type="text" class="form-control" placeholder="Tipo de carga">
					  			</div>
							</div>
							<div class="row">
					  			<div class="col-xs-4">
					    			<input ng-model="ruta.carga.peso" type="text" class="form-control" placeholder="Peso aprox.">
					  			</div>
					  			<div class="col-xs-4">
					    			<input ng-model="ruta.oferta" type="text" class="form-control" placeholder="Oferta">
					  			</div>
					  			<div class="col-xs-4">
					  				<button ng-click="updateRuta()" class="btn btn-primary btn-block" type="submit">Modificar</button>   
					  			</div>
							</div>
						</div>
						<div id="aDespacho" class="tab-pane fade">
							<div class="row">
					  			<div class="col-xs-4">
					    			<input ng-model="despacho.nombre" type="text" class="form-control" placeholder="Nombre">
					  			</div>
					  			<div class="col-xs-4">
					    			<input ng-model="despacho.descripcion" type="text" class="form-control" placeholder="Descripción">
					  			</div>
					  			<div class="col-xs-4">
					    			<input ng-model="despacho.direccion.descripcion" type="text" class="form-control" placeholder="Dirección">
					  			</div>
							</div>
							<div class="row">
					  			<div class="col-xs-4">
									<button ng-click="createDespacho()" class="btn btn-primary" type="submit">Grabar</button>   
					  			</div>
					  		</div>	
						</div>
						<div id="vDespacho" class="tab-pane fade">
							<ul ng-repeat="despacho in despachos" class="list-group">
								<li class="list-group-item">{{despacho.nombre}}</li>
							</ul>
						</div>
					</div>	
				</div>
			</div>
		  	<div id="menu1" class="tab-pane fade">
		    	<h3>Añadir rutas</h3>
	    		<div class="row">
		  			<div class="col-xs-4">
		    			<input ng-model="ruta.nombre" type="text" class="form-control" placeholder="Nombre">
		  			</div>
		  			<div class="col-xs-4">
		    			<input ng-model="ruta.descripcion" type="text" class="form-control" placeholder="Descripción">
		  			</div>
		  			<div class="col-xs-4">
		    			<input ng-model="ruta.direccion.ciudad" type="text" class="form-control" placeholder="Ciudad">
		  			</div>
				</div>
				<div class="row">
		  			<div class="col-xs-4">
		    			<input ng-model="ruta.direccion.region" type="text" class="form-control" placeholder="Región">
		  			</div>
		  			<div class="col-xs-4">
		    			<input ng-model="ruta.direccion.detalle" type="text" class="form-control" placeholder="Detalle">
		  			</div>
		  			<div class="col-xs-4">
		    			<input ng-model="ruta.carga.tipo" type="text" class="form-control" placeholder="Tipo de carga">
		  			</div>
				</div>
				<div class="row">
		  			<div class="col-xs-4">
		    			<input ng-model="ruta.carga.peso" type="text" class="form-control" placeholder="Peso aprox.">
		  			</div>
		  			<div class="col-xs-4">
		    			<input ng-model="ruta.oferta" type="text" class="form-control" placeholder="Oferta">
		  			</div>
		  			<div class="col-xs-4">
		  				<button ng-click="createRuta()" class="btn btn-primary btn-block" type="submit">Grabar</button>   
		  			</div>
				</div>
		  	</div>
		  	<div id="menu2" class="tab-pane fade">
		    	<h3>Menu 2</h3>
		    	<p>Some content in menu 2.</p>
		  	</div>
		</div>
	</form>
</body>
</html>
